* {
    box-sizing: border-box;
}



body {
    background-color: $white;
    color: $black;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    tr {
        &:nth-child(even) {
            background-color: scale-color($color: $white, $lightness: -30%);
        }  
    }

    th,
    td {
        border-collapse: inherit;
        padding: 6px;
    }

    th {
        background-color: scale-color($color: $black, $lightness: 5%);
        color: white;
        padding: 10px 6px;
    }
}

input,
label,
select {
    display: block;
    width: 100%;
}

input[type='text'],
input[type='password'],
select {
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px 4px;
}

label {
    margin: 0;
}

input[type='submit'] {
    background-color: transparent;
    color: black;
    margin: 15px 0 5px;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 5px 8px;
    transition: background-color 0.2s;

    &:hover {
        background-color: $primary;
        color: white;
        border-color: $primary;
        cursor: pointer;
    }
}

input[type='file'] {
    margin: 5px 0;

    &:hover {
        cursor: pointer;
    }
}