* {
    box-sizing: border-box;
}



body {
    background-color: $white;
    color: $black;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}