* {
  box-sizing: border-box; }

body {
  background-color: #ffeecf;
  color: #2d2a32; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center; }

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left; }
  table tr:nth-child(even) {
    background-color: #ffbd44; }
  table th,
  table td {
    border-collapse: inherit;
    padding: 6px; }
  table th {
    background-color: #37343d;
    color: white;
    padding: 10px 6px; }

input,
label {
  display: block; }

input[type='text'],
input[type='password'] {
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px 4px; }

input[type='submit'] {
  background-color: transparent;
  color: black;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px 8px;
  transition: background-color 0.2s; }
  input[type='submit']:hover {
    background-color: #f06449;
    color: white;
    border-color: #f06449;
    cursor: pointer; }

#container {
  display: flex; }

#main-nav {
  background-color: #2d2a32;
  width: 12vw;
  height: 100vh; }
  #main-nav #logo-container {
    margin-bottom: 30px; }
  #main-nav .nav-item a {
    display: block;
    padding: 15px;
    color: #f06449;
    text-decoration: none; }
  #main-nav .nav-item:hover, #main-nav .nav-item:focus {
    background-color: #f06449; }
    #main-nav .nav-item:hover a, #main-nav .nav-item:focus a {
      color: #ffeecf; }

#content-container {
  background-color: #ffeecf;
  color: #2d2a32;
  width: calc(100vw - 12vw); }

#page-list-container,
#blog-list-container {
  /* responsiveness */
  overflow-x: auto; }

#media-list-container {
  display: flex;
  flex-wrap: wrap; }

.ql-toolbar {
  background-color: #f16c52; }

#editor {
  background-color: #f3f3f3;
  padding: 10px; }

#media-lib-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 95vh;
  background-color: #fff2db;
  border: 2px solid #222026;
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 0 5px 5px 1px #333;
  overflow: auto;
  z-index: 10; }
  #media-lib-modal .modal-header-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0; }
    #media-lib-modal .modal-header-container #modal-header {
      margin: 0; }
    #media-lib-modal .modal-header-container #modal-close:focus, #media-lib-modal .modal-header-container #modal-close:hover {
      cursor: pointer; }
  #media-lib-modal #media-lib {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #media-lib-modal #media-lib .media-lib-img {
      width: 250px;
      margin-bottom: 20px;
      border: 2px solid #2d2a32;
      transition: transform 0.1s; }
      #media-lib-modal #media-lib .media-lib-img:focus, #media-lib-modal #media-lib .media-lib-img:hover {
        cursor: pointer;
        transform: translateY(-10px); }

.media-item {
  width: calc(100% / 3);
  height: 400px;
  margin-bottom: 60px; }
  .media-item img {
    height: 100%; }
  .media-item a {
    word-wrap: anywhere; }

.success-message {
  padding: 10px;
  background-color: #2a9d8f;
  color: #ffeecf;
  text-align: center; }

.notice-message {
  padding: 10px;
  background-color: #7d98a1;
  color: #ffeecf;
  text-align: center; }

.error-message {
  padding: 10px;
  background-color: #ad2a5f;
  color: #ffeecf;
  text-align: center; }

.show {
  display: block; }

.hide {
  display: none; }
